@layout("/common/_curd/_container.html"){

<script type="text/javascript">
	var ctx = "${basePath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	
	$(function(){
		initGrid();
		initMenuBtn("btns", "${code}");
	});
	
	function initGrid(){
		var grid_url = ctx + "/${code}/list";
		var _colnames = ["ID",
						"需求类型",
						"需求类型",
						"询价主题", 
						"结束日期",
						"企业",
						"交付日期", 
						"创建时间",
						"需求图片",
						"详细描述", 
						"省,市,区",
						"地址",
						"联系人",
						"电话",
						"交易方式",
						"发票要求",
						"运费承担方",
						"材料提供商",
						"开票",
						"实名认证",
						"报价ID",
						"支付方式",
						"需求状态"];
		var _colmodel = [{name:"id", index:"id", width:100},
						{name:"TYPE1", index:"demandtype1", width:100},
						{name:"TYPE2", index:"demandtype2", width:100},
						{name:"title", index:"title", width:100},
						{name:"END", index:"endtime", width:100},
						{name:"COMPANY_NAME", index:"companyid", width:100},
						{name:"DELI", index:"deliverydate", width:100},
						{name:"CREAT", index:"creatdate", width:100},
						{name:"photo", index:"photo", width:100},
						{name:"description", index:"description", width:100},
						{name:"CITY", index:"provincial", width:100},
						{name:"address", index:"address", width:100},
						{name:"contacts", index:"contacts", width:100},
						{name:"phone", index:"phone", width:100},
						{name:"mode", index:"mode", width:100},
						{name:"invoice", index:"invoice", width:100},
						{name:"freight", index:"freight", width:100},
						{name:"rawmaterial", index:"rawmaterial", width:100},
						{name:"billing", index:"billing", width:100},
						{name:"certification", index:"certification", width:100},
						{name:"quotedpriceid", index:"quotedpriceid", width:100},
						{name:"payment", index:"payment", width:100},
						{name:"status", index:"status", width:100}];
		
		jQuery(grid_selector).jqGrid({
			url : grid_url,
		    shrinkToFit : true,
			colNames : _colnames,
			colModel : _colmodel, 
			jsonReader : {id :"id"},
			pager : pager_selector,
			postData : {sort : "id", order : "desc"}
		});
	}
</script>


	<!-- 配置 grid -->
	<div class="row">
		<div class="col-xs-12 tb-grid">
			<!-- 配置 查询 -->
			@ var _col=[
@		{name:"id", index:"id", type:"text"},
			@		{name:"需求类型", index:"TYPE1", type:"text"},
			@		{name:"需求类型", index:"TYPE2", type:"text"},
			@		{name:"询价主题", index:"title", type:"text"},
			@		{name:"结束日期", index:"END", type:"text"},
			@		{name:"企业", index:"COMPANY_NAME", type:"text"},
			@		{name:"交付日期", index:"DELI", type:"text"},
			@		{name:"创建时间", index:"CREAT", type:"text"},
			@		{name:"需求图片", index:"photo", type:"text"},
			@		{name:"详细描述", index:"description", type:"text"},
			@		{name:"省,市,区", index:"CITY", type:"text"},
			@		{name:"地址", index:"address", type:"text"},
			@		{name:"联系人", index:"contacts", type:"text"},
			@		{name:"电话", index:"phone", type:"text"},
			@		{name:"交易方式", index:"mode", type:"text"},
			@		{name:"发票要求", index:"invoice", type:"text"},
			@		{name:"运费承担", index:"freight", type:"text"},
			@		{name:"材料提供商", index:"rawmaterial", type:"text"},
			@		{name:"开票", index:"billing", type:"text"},
			@		{name:"实名认证", index:"certification", type:"text"},
			@		{name:"报价ID", index:"quotedpriceid", type:"text"},
			@		{name:"支付方式", index:"payment", type:"text"},
			@		{name:"需求状态", index:"status", type:"text"}
			@];
			@ include("/common/_function/_search.html",{"col":_col}){}
			<!-- 按钮 -->
			<div class="welljq well-sm" id="btns"></div>
			<!-- grid -->
			<table id="grid-table"></table>
			<!-- 分页-->
			<div id="grid-pager"></div>
		</div>
	</div>
	
	<!-- 引入所需的js -->
	@include("/common/_listscript.html"){}
	
@}	