@layout("/common/_curd/_container.html"){

	<form data-url="${basePath}/${code}/save" method="post" class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _table="goods";
		@ var _col=[
@			  {name:"", index:"id", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"", index:"name", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"", index:"type1", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"", index:"type2", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"", index:"code", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"", index:"unit", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"", index:"model", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"", index:"attribute", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"", index:"effective", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"", index:"expected", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"", index:"creatTime", type:"text",newline:true,length:8,required:"required"}		
		@		   ];
		@ include("/common/_curd/_add.html", {"col":_col, "table":_table}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html", {btn_save:"新增", btn_close:"关闭"}) {}
	</form>

@}
