@layout("/common/_curd/_container.html"){

<script type="text/javascript">
	var ctx = "${basePath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	
	$(function(){
		initGrid();
		initMenuBtn("btns", "${code}");
	});
	
	function initGrid(){
		var grid_url = ctx + "/${code}/list";
		var _colnames = ["", 
						"", 
						"", 
						"", 
						"", 
						"", 
						"", 
						"", 
						"", 
						"", 
						""];
		var _colmodel = [{name:"id", index:"id", width:100},
						{name:"name", index:"name", width:100},
						{name:"type1", index:"type1", width:100},
						{name:"type2", index:"type2", width:100},
						{name:"code", index:"code", width:100},
						{name:"unit", index:"unit", width:100},
						{name:"model", index:"model", width:100},
						{name:"attribute", index:"attribute", width:100},
						{name:"effective", index:"effective", width:100},
						{name:"expected", index:"expected", width:100},
						{name:"creatTime", index:"creatTime", width:100}];
		
		jQuery(grid_selector).jqGrid({
			url : grid_url,
		    shrinkToFit : true,
			colNames : _colnames,
			colModel : _colmodel, 
			jsonReader : {id :"id"},
			pager : pager_selector,
			postData : {sort : "id", order : "desc"}
		});
	}
</script>


	<!-- 配置 grid -->
	<div class="row">
		<div class="col-xs-12 tb-grid">
			<!-- 配置 查询 -->
			@ var _col=[
@		{name:"", index:"id", type:"text"},
			@		{name:"", index:"name", type:"text"},
			@		{name:"", index:"type1", type:"text"},
			@		{name:"", index:"type2", type:"text"},
			@		{name:"", index:"code", type:"text"},
			@		{name:"", index:"unit", type:"text"},
			@		{name:"", index:"model", type:"text"},
			@		{name:"", index:"attribute", type:"text"},
			@		{name:"", index:"effective", type:"text"},
			@		{name:"", index:"expected", type:"text"},
			@		{name:"", index:"creatTime", type:"text"}							
			@];
			@ include("/common/_function/_search.html",{"col":_col}){}
			<!-- 按钮 -->
			<div class="welljq well-sm" id="btns"></div>
			<!-- grid -->
			<table id="grid-table"></table>
			<!-- 分页-->
			<div id="grid-pager"></div>
		</div>
	</div>
	
	<!-- 引入所需的js -->
	@include("/common/_listscript.html"){}
	
@}	