@layout("/common/_curd/_container.html"){

	<form data-url="${basePath}/${code}/update" method="post" class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _table="user";
		@ var _key="id";
		@ var _col=[
@			  {name:"", index:"id", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"", index:"number", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"", index:"password", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"", index:"phone", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"默认为0 为未完善用户信息", index:"iscomplete", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"", index:"company", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"", index:"creatdate", type:"text",newline:true,length:8,required:"required"}		
		@		   ];
		@ include("/common/_curd/_edit.html", {"col":_col, "table":_table, "key":_key}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html", {btn_save:"修改", btn_close:"关闭"}) {}
	</form>

@}